div 
{
    border: 12px solid green;

     /* ----------------- short hand ---------------- */

    /* Applique la même valeur aux quatres côtés */
    /* margin: 50px; */

    /* y | x */
    /* margin: 2% 15%; */

    /* haut | x | bas */
    /* margin: 1em 2em 4em; */

    /* haut | droit | bas | gauche */
    /* margin: 15px 20em 0 4em; */


    /* ----------------- long hand ---------------- */

    /* Valeur espacement gauche */
    margin-left: 100px;

    /* Valeur espacement droite */
    margin-right: 50px;

    /* Valeur espacement haut */
     margin-top: 50px;

    /* Valeur espacement bas */
    margin-bottom: 200px;


}


p 
{
    border: 3px dotted black;
    font-size: 18px;
}